input:focus{
    border-color: #7e57ff;
    outline: none;
}
.mapouter{
    width: 100%!important;
}
#banner-rp{
    background-color: #081828;
    padding: 150px 0px 100px!important;
    background-image:  url('../img/banner-bg.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: white;
}
#banner-rp a{
    text-decoration: none;
    color: white;
}
#body{
    background-color: #f4f7fa;
}
#body .wrapper{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
    padding: 50px 80px;
}
#body form{
    width: 100%;
    position: relative;
}
#body form input{
    background-color: #f4f7fa;
    border: 1px solid #eee;
    padding: 15px 20px 15px 50px;
    border-radius: 50px;
}
#body form input:focus{
    border: 1px solid #7e57ff!important;
}
#body form i{
    position: absolute;
    top: 17px;
    left: 20px;
}
#body .myBtn{
    background-color: #7e57ff;
    color: white;
    width: 100%;
    border: none;
    font-size: 20px;
}
#body .myBtn:hover{
    background-color: black;
}
#body a{
    text-decoration: none;
    color: #7e57ff!important;
}
#body a:hover{
    text-decoration: underline;
}
#body .google{
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 10px 10px;
    display: inline-block;
}
#body .google img{
    height: 20px;
}
#body hr{
    width: 200px;
}
#body .input-wrapper{
    position: relative;
}
#team{
    padding-top: 100px!important;
}
#about-us-body .text{
    padding: 50px 30px;
}
#about-us-body .icon-wrapper{
    background-color: #7e57ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
#about-us-body .rotate:hover{
    animation: rotation .2s linear;
}
#about-us-body i{
    font-size: 25px;
    color: white;
    
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.cards .card{
    padding: 40px 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
}
.cards .card:hover{
    box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
}
.cards .card .period h4{
    font-size: 60px;
    display: inline-block;
}
.cards .card .period sup{
    position: relative;
    top: -30px;
    left: 0px;
}
.cards .card .period sub{
    font-size: 15px;
}
.cards .card .detail{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.cards .card .detail p{
    margin-bottom: 0!important;
    margin-left: 10px;
}
.cards .card .detail .bi-check-circle{
    color: yellowgreen;
}
.cards .card .detail .bi-x-circle{
    color: #727272;
}
.cards .card .myBtn{
    width:200px;
    border: none;
}
.cards .card .myBtn:hover{
    background-color: black;
}
.cards .card .popular{
    position: absolute;
    top: 15px;
    right: 20px;
}
.cards .card .myBtn.btnDark{
    background-color: black;
}
.cards .card .myBtn.btnDark:hover{
    background-color: #7e57ff!important;
}
#contact form input,textarea{
    width: 100%;
    border: 1px solid #eee;
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 6px;
}
#contact form .myBtn{
    border: 0;
}
#contact form .myBtn:hover{
    background-color: black;
}
#contact form textarea{
    resize: none;
    height: 200px;
}
#contact form textarea:focus{
    border-color: #7e57ff;
    outline: none;
}
#contact input:focus{
    border-color: #7e57ff;
    outline: none;
}
#mail-success{
    height: 100vh;
}
#mail-success .wrapper{
    width: 480px;
    padding: 70px 60px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mail-success .wrapper .myBtn:hover{
    background-color: black;
}
#blogs .b-nav span{
    font-size: 15px;
    padding: 10px 10px 10px 15px;
    border: 1px solid #96969683;
    border-radius: 10px;
    text-align: center;
    transition: all .3s ease;
}
#blogs .b-nav span:hover{
    background-color: #7e57ff;
    color: white;
}
#sidebar .sidebar-item{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    overflow: hidden;
    margin-bottom: 20px;
    border-top: 2.5px solid #7e57ff;
    padding: 40px 50px;
    width: 100%;
}
#sidebar .sidebar-item h3{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}
#sidebar form .input-wrapper{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
#sidebar form input{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff1f;
    width: 100%;
    height: 55px;
    border: 1px solid #eee;
    border-radius: 10px;
}
#sidebar form i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}
#sidebar form i:hover{
    color: #7e57ff;
}
#sidebar .trending a{
    color: black;
    text-decoration: none;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all .3s ease;
}
#sidebar .trending a:hover{
    color: #7e57ff;
}
#sidebar .trending span{
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
#sidebar .categories a{
    display: block;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    transition: all .3s ease;
}
#sidebar .categories a:hover{
    color: #7e57ff;
    padding-left: 20px;
}
#sidebar .tags div{
    display: block;
    margin-bottom: 10px;
}
#sidebar .tags div button{
    padding: 10px 20px!important;
    font-size: 13px;
    border: 1px solid #eee;
    background-color: white;
    color: black!important;
}
#sidebar .tags div button:hover{
    color: white!important;
    background-color: #7e57ff;
}
#blog-single img{
    border-radius: 10px;
}
#blog-single .box{
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#blog-single .box .icons{
    color: white;
}
#blog-single .box .circle{
    width: 70px;
    height: 70px;
    background-color: #7e57ff;
    border-radius: 50%;
    position: absolute;
}
#blog-single .box .circle.circle1{
    top: -25px;
    left: -25px;
}
#blog-single .box .circle.circle2{
    bottom: -25px;
    right: -25px;
}
#blog-single .comment{
    position: relative;
}
#blog-single .comment .image{
    width: 80px;
    height: 80px;
    overflow: hidden;
}
#blog-single .comment .image img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}
#blog-single .comment span{
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
}
#blog-single .comment a{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 100px;
    transition: all .3s ease;
}
#blog-single .comment a:hover{
    color: #7e57ff;
}
#blog-single .comment-area input,textarea{
    background-color: #f4f7fa;
}



@media (max-width: 768px){
    #banner-rp{
        padding: 100px 0 60px!important;
    }
    #body .wrapper{
        padding: 40px 20px;
    }
    #body h2{
        font-size: 10px!important;
    }
    #body p{
        font-size: 15px;
    }
    #body .change{
        display: block!important;
    }
}